html, body{
	min-height: 100vh;
	position: relative;
	transition: 0.3s;
}
*{box-sizing: border-box;}
.head{
	padding: 15px 0;
	color: #fff;
	/*background-color: #045eb9;*/
	background-image: url(../images/l5.jpg);
	background-position: center;
	background-size: cover;
	margin-bottom: 15px;
}

.head img{
	height: 80px;	
}

.main{
	/*min-height: 66vh;*/
	padding-bottom: 150px;
}

.hmail{
	color: #fff;
	text-decoration: underline;
}
.hmail:hover {
	color: #fff294;
}

/* NAV BEGIN */

aside .btn{
	border-radius: 0;
}

aside .btn-primary {
  color: #fff;
  background-color: #2f70b4;
  border-color: #2f70b4;
  border-left-width: 5px;
}


aside .btn-primary:not(:disabled):not(.disabled).active, 
aside .btn-primary:not(:disabled):not(.disabled):active, 
aside .show>.btn-primary.dropdown-toggle,
aside .btn-primary:hover {
  color: #2f70b4;
  background-color: #ffffff;
  border-color: #2f70b4;
  border-left-width: 5px;
}

a.category{
	display: block;
  width: 100%;
  margin-bottom: .5rem;
  font-weight: 400;
  text-align: center;
  /*white-space: nowrap;*/
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
	color: #fff;
  background-color: #2f70b4;
  border-color: #2f70b4;
  /*border-left-width: 5px;*/
  text-decoration: none;
  position: relative;
  transition: 0.3s ease;
  border-radius: 0px;
  box-sizing: border-box;
  

}
a.category:hover,
a.category.active{
	color: #2f70b4;
	background-color: #ffffff;
	border-color: #2f70b4;
	/*border-left-width: 5px;*/
}

a.category:before{
	content: "";
	position: absolute;
	width: 10%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2f70b4;
	transition: width .15s ease-in-out, opacity .15s ease-in-out;
	opacity: 0;
}

a.category:hover:before,
a.category.active:before{
	width: 5px;
	opacity: 1;	
}

a.h_img{
	/*border: 1px solid transparent;*/
	display: block;	
	transition: 0.3s;
}
a.h_img:hover{
	/*outline: 1px solid #2f70b4;*/
	box-shadow: 0 0 1px #2f70b4;
}
a.h_img img{
	width: 100%;
}

/* NAV END */
.anons h4{
	color: #2f70b4;
	text-align: center;
}
.card_slide{
	margin-bottom: 15px;
}
.card { 
	margin: 15px;
	flex: 1 1 100%;
	
}
.card-body{
	padding: 10px 15px !important;
}
.main_img{
	margin-bottom: 30px;
}
.main_img img{
	width: 100%;
}
.brednav {
  display: block;
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 15px;
  list-style: none;
  font-size: 0.9em;
  /*margin-left: 15px 0;*/
  border-bottom: 1px dashed #2f70b4;
}

.brednav li{
	display: inline-block;	
}

/* ACCARDION BEGIN */

a.cvartal{
	display: block;
	padding: 0.5rem 1rem;
	padding-left: 1rem;
	background-color: #2f70b4;
	/*background-color: #2fb456;*/
	color: #fff;
	text-decoration: none;
	/*border-top-left-radius: 2rem;*/
	/*border-bottom-left-radius: 2rem;*/
	border-radius: 3px;
	margin-top: 20px;
	position: relative;
	font-size: 1.2rem;
}

a.cvartal .show{
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	right: .7rem;
	margin-top: -1rem;
}

.cvrt .card{
	border: none;
}

.card-body{
	padding-top: 0;
}

/* ACCARDION END */
.g_titlle_img{
	width: 200px;
	margin-left: 20px;
	float: right;
	padding: 5px;
	box-shadow: 0 0 5px 0 #555;
	border-radius: 5px;
}
.box{
	width: 25%;
	height: 100px;
	background-color: #eee;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.content_p{
	margin-bottom: 45px;
}
.content_p h2, 
.content_p h1,
.content_p h3, 
.content_p h4{
	color: #2f70b4;
}
.content_p h2{
	text-align: center;
	margin-bottom: 25px;
}
.content_p p{
	text-align: justify;
}
.c_line{
	height: 3px;
	background-color: #2f70b4;
	margin: 30px 0;
}
.c_line_1{
	height: 1px;
	background-color: #2f70b4;
	margin: 30px 0;
}
.c_line_2{
	height: 1px;
	/*background-color: #2f70b4;*/
	border-top: 1px dashed #2f70b4;
	margin: 30px 0;
}
.content_p li{
	/*color: #2f70b4;*/
	list-style-type: square;
}
.content_p b{
	color: #3b4b56;
}
.content_p b.gg{
	color: #086d27;
}

label span{color: red;}

/* ARHIVE BEGIN*/
.arhive_p h5{
	color: #2f70b4;
	border-bottom: 3px solid #85b2e0;
	padding-bottom: 5px;
	margin-bottom: 0;
} 
.arhive_p h5 span{
	color: #aaa;
	font-size: 0.8em;
} 
.arhive_p .tab-content{
	padding-top: 15px;
} 
.arhive_p .card-body {
    padding: 10px 0 !important;
}

.arhive_p .nap{
	margin-left: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-top: 10px;
	border-left: 1px solid #2f70b4;
	border-bottom: 1px solid #2f70b4;
}
.work_item{
	padding-left: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed #2f70b4;
}
.nap .work_item:first-child{
	border-top: none;
}
.work_item h6{
	padding: 10px;
	margin-left: -20px;
	transition: 0.3s;	
	position: relative;
	margin-bottom: 0;
}
.work_item h6:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -6px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #2f70b4;
	background-color: #2f70b4;
	transition: 0.3s;

}
.work_item:hover{
	border-top: 1px solid transparent;
}
.work_item:hover h6{
	background-color: #2f70b4;
	color: #fff;
}
.work_item:hover h6:before{
	background-color: #fff;
	
}
.work_item .w_tema{
	font-weight: bold;
	font-size: 0.8em;
	color: #2f70b4;
	/*transition: 0.3s;*/
}

.work_item .anatac{
	padding-left: 15px;
	font-size: 0.8em;
	color: #737373;
	line-height: 1.3em !important;
	text-align: justify;
}

/* ARHIVE END*/


/* FOOTER BEGIN */

footer{
	background-color: #24394e;
	color: #fff;	
	width: 100%;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
	border-collapse: collapse;

}

/* FOOTER END */

